<mat-toolbar class="toolbar">
    <button mat-button class="homeButton" (click)="openHome()">
        <img src="../assets/cfalogo.png" class="cfalogo">
        <span class="name">Chick-Fil-A Bridgeton</span>
    </button>
    <span class="example-spacer"></span>
    <button mat-raised-button class="navButton" color="accent" (click)="openContact()">Contact</button>
    <div class="small-spacer"></div>
    <button mat-raised-button class="navButton" color="accent" (click)="openMenu()">Menu</button>
    <div class="small-spacer"></div>
    <button mat-raised-button class="navButton" color="primary" (click)="orderOut()">Order</button>
  </mat-toolbar>