<mat-toolbar>
    <button mat-button style="padding: 5px;" (click)="openHome()">
        <img src="../assets/cfalogo.png" width="40" height="40" style="margin-right: 10px;">
        <span>Chick-Fil-A Bridgeton</span>
    </button>
    <span class="example-spacer"></span>
    <button mat-raised-button color="accent" (click)="openContact()">Contact</button>
    <div style="width: 10px;"></div>
    <button mat-raised-button color="accent" (click)="openMenu()">Menu</button>
    <div style="width: 10px;"></div>
    <button mat-raised-button color="primary" (click)="orderOut()">Order</button>
  </mat-toolbar>