<div class="container">
    <button mat-raised-button color="primary" style="position: absolute; left: 10px; top: 75px; width: 150px;" routerLink="/">Home</button>
    <p style="font-size: 32px; font-weight: bold;">Contact Chick-Fil-A Bridgeton</p>
    <div class="split">
        <div class="left">
            <!-- <img src="../../assets/catlogo.png" width="50%;"> -->
            <img src="../../assets/CT1.jpg" style="max-width: 100%; max-height: 100%; margin: auto; z-index: 0;">
            <!-- <div class="hr"></div>
            <p>
                Interested in ordering for your next event or work meeting?
                <br>
                Chick-Fil-A is the perfect meal choice for any group size!
            </p> -->
            <a href="https://www.chick-fil-a.com/catering" style="z-index: 10; margin-bottom: 40px;"><button mat-raised-button color="primary">Order Catering</button></a>
        </div>
        <div class="right">
            <br>
            <p class="cares">Chick-Fil-A Bridgeton CARES</p>
            <br>
            <div class="hr"></div>
            <br>
            <p>Was there an issue with your order?</p>
            <p>We'd like to hear about it so we can make it right.</p>
            <br><br>
            <p>Contact The Store: (314)-344-8910 or <a href="mailto:cryan.cfabridgeton@gmail.com">cryan.cfabridgeton@gmail.com</a>></p>
            <p>Monday - Saturday 6:30 AM - 10pm CST</p>
            <br><br>
            <p>Contact Corporate: (866) 232-2040</p>
            <p>Monday - Saturday 7:00 AM - 11pm CST</p>
        </div>
    </div>
</div>