/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: Aprecu;
  font-weight: regular;
  src: url("/assets/Apercu\ Pro\ Regular.otf") format("opentype");
}

@font-face {
  font-family: Aprecu;
  font-weight: bold;
  src: url("/assets/Apercu\ Pro\ Medium.otf") format("opentype");
}

@font-face {
  font-family: Aprecu;
  font-weight: bolder;
  src: url("/assets/Apercu\ Pro\ Bold.otf") format("opentype");
}

* {
  font-family: 'Apercu';
  font-size: 18px;
  font-weight: normal;
  color: rgb(91, 103, 112);
}

.mat-button-wrapper {
  color: white;
}

html, body { margin: 0; width: 100%; }

.mat-raised-button, .mat-stroked-button, .mat-flat-button {
  padding: 0 1.15em;
  margin: 0 .65em;
  min-width: 3em;
  line-height: 36.4px
}
  
.mat-standard-chip {
  padding: .5em .85em;
  min-height: 2.5em;
}

.material-icons {
  font-size: 24px;
  font-family: 'Material Icons Outlined', 'Material Icons';  
}

.mat-badge-content {
  font-family: 'Roboto';
}
